<div class="father">
  <nav>
    <input type="checkbox" id="check" />
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">
      <img
        src="assets/images/logo_-removebg-preview.png"
        alt="Logo"
        width="100%"
        class="imgLogo"
    /></label>
    <!-- <label class="logo">
      <img
        src="../../../assets/images/logo_-removebg-preview.png"
        alt="Logo"
        width="100%"
      />
    </label> -->
    <!-- <div class="logoImg">
      <img
        src="../../../assets/images/logo_-removebg-preview.png"
        alt="Logo"
        class="imgLogo"
      />
    </div> -->

    <ul id="link">
      <li><a routerLink="/menu" (click)="ocultarMenu()">Menú del día</a></li>
      <li><a routerLink="/carrito" (click)="ocultarMenu()">Carrito</a></li>
      <li><a routerLink="/menu" (click)="ocultarMenu()">Sign in</a></li>
    </ul>
  </nav>
</div>
