.container {
  align-content: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

@media (max-width: 858px) {
  .container {
    align-content: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  }
}

.example-card {
  max-width: auto;
  margin-bottom: 1rem;
}

.example-header-image {
  /* background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg"); */
  background-size: cover;
}

.healthy {
  width: 50px;
  height: 50px;
}

.mat-card:hover {
  box-shadow: 0px 0px 5px 1px black;
  transition: 0.5s;
  cursor: pointer;
}

.spinner ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #1b9bff;
}

.spinner {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.modal-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
